#top {}

#sents {
    background-color: antiquewhite;
    color: black;
    border-radius: 4%;
    height: 630px;
    overflow-y: scroll;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    font-size: 20px;
    padding: 5px;
}

.sen {
    background-color: lightsteelblue;
    border: solid grey .9px;
    border-radius: 5px;
    margin-top: 3px;
    padding-left: 10px;
    line-height: 29px;
    padding-right: 10px;
    font-weight: bold;
}